html {
    background: black;
    color: #ffffff;
}

.iphone {
    display: flex;
    margin: auto;
    z-index: 15;
    position: relative;
}

.phonebuttons {
    position: absolute;
    margin: auto;
    outline: none;
    cursor: pointer;
    border: none;
}

#onoffbutton {
    /* background: white; opacity: 0.5; */
    background: transparent;
    bottom: 630px;
    height: 70px;
    width: 20px;
    z-index: 20;
    right: 45px;
}

.homebutton {
    right: 0;
    left: 0;
    bottom: 90px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: green; opacity: 0.5;
}

.iphone-container {
    height: max-content;
    width: max-content;
    position: relative;
    margin: auto;
    
    animation: spin 3s; // Animation
}

@keyframes spin {
    from {
        transform: translateY(100%);
        filter: blur(10px)
    }
    to {
        transform: translateY(0);
        filter: blur(0)
    }
}

.app {
    z-index: 5;
    width: 75px;
    opacity: 0;
}

.musicapp {
    top: 200px;
    left: 109px;
    position: absolute;
}

.notesapp {
    top: 200px;
    left: 210px;
    position: absolute; }

.background {
    position: absolute;
    z-index: -1;
    margin: auto;
    right: 0;
    left: 0;
    top: 155px;
}

#black-cover {
    background: black;
    position: absolute;
    z-index: 10;
    margin: auto;
    right: 0;
    left: 0;
    top: 155px;
    width: 350px;
    height: 650px;
    opacity: 1;
}

.app-animation {
    animation: pop .4s forwards;
    opacity: 1;
}

@keyframes pop {
    0% {
        transform: scale(0, 0)
    }
    100% {
        transform: scale(1, 1)
    }
}