html {
    background: #1D1D1D;
    color: #ffffff;
}

.iphone {
    display: flex;
    margin: auto;
    z-index: 10;
    position: relative;
}

.iphone-container {
    height: max-content;
    width: max-content;
    position: relative;
    margin: auto;
}

.background {
    position: absolute;
    z-index: 0;
    margin: auto;
    right: 0px;
    left: 0px;
    top: 155px;
}

#black-cover {
    background: black;
    position: absolute;
    transition: 0.1s;
    z-index: 4;
    margin: auto;
    right: 0px;
    left: 0px;
    top: 155px;
    width: 350px;
    height: 650px;
    opacity: 1;
    pointer-events: none;
    display: block;
}

.notification-bar {
    position: absolute;
    margin: auto;
    width: 340px;
    left: 0;
    right: 0;
    top: 165px;
    z-index: 1;
}

.wifi {
    width: 15px;
    position: absolute;
    margin: auto;
    right: 90px;
    top: 167px;
    z-index: 2;
}