#music-page-container {
    position: absolute;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    opacity: 0;
    transition: 0.1s;
    transform: scale(0, 0);
    
    z-index: 9;
}

.music-app-background {
    position: absolute;
    z-index: 0;
    top: -46px;
}

.cover-datasphere {
    width: 80%;
    
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    left: 0;
}

#music-player {
    width: 545px;
    height: 100px;

    position: absolute;
    margin: auto;
    bottom: 20px;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

/* Effects all img tags inside #music-player */
#music-player img {
    width: 50px;
}

#play-button, #pause-button {
    position: absolute;
    cursor: pointer;
    z-index: 200;
    transition: .5s;
    margin: auto;
    left: 0;
    right: 202px;
}

#next-button {
    position: absolute;
    left: 240px;
    bottom: 28px
}

#previous-button {
    position: absolute;
    right: 440px;
    bottom: 28px
}