#music-page {
    position: absolute;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
    opacity: 0;
    transition: 0.1s;
    transform: scale(0, 0);
    
    z-index: 9;
}

.background-ma {
    position: absolute;
    z-index: 0;
    top: -46px; // Fix empty space at top of image
}

.cover-obsidian {
    width: 80%;
    
    position: absolute;
    margin: auto;
    top: 50px;
    right: 0;
    left: 0;
}

#music-player {
    width: 300px;
    height: 100px;

    position: absolute;
    margin: auto;
    bottom: 20px;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
}

/* Effects all img tags inside #music-player */
#music-player img {
    width: 50px;
}
